# в данном файле мы можем указать файлы, 
# либо папки, 
# которые не юудут отправляться на наш gitHub.
# такиими папками могут быть build , 
# node_modules, .env(который хранит 
# приватные данные)

# например:

build

node_modules

.env